name: hbstack-site

services:
  dev:
    env_file: .env
    image: ghcr.io/hugomods/hugo:exts
    command: npm run dev -- --bind 0.0.0.0
    ports:
      - 7070:7070
      - 7071:7071
      - 7072:7072
    volumes:
      - ./:/src
      - hugo_cache:/tmp/hugo_cache
      - ~/Workspaces:/workspaces

  prod:
    env_file: .env
    image: ghcr.io/hugomods/hugo:exts
    command: npm run prod -- --bind 0.0.0.0
    ports:
      - 7075:7075
      - 7076:7076
      - 7077:7077
    volumes:
      - ./:/src
      - hugo_cache:/tmp/hugo_cache
      - ~/Workspaces:/workspaces

volumes:
  hugo_cache:
    external: true
