<h2 class="mb-3 text-center">{{ i18n "sponsors" }}</h2>
<ul
  class="nav row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 mb-5 my-3 justify-content-center">
  {{- range sort site.Data.sponsors "weight" }}
    <li class="nav-item">
      <a
        class="nav-link my-2 d-flex align-items-center justify-content-center"
        href="{{ .url }}"
        target="_blank"
        rel="external">
        <img class="sponsor-img img-fluid" src="{{ .img }}" alt="{{ .alt }}" />
      </a>
    </li>
  {{- end }}
</ul>
